body{
    grid-template-columns: 20% 80% 0%;
}

nav{
    text-align: center;
    justify-content: center;
    font-size: 20px; 
    height: 50px;
    
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
main form{
    padding: 20px;
    width: 100%;
}

main form label{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

main section{
    margin-left:20px;
}

main form input{
    margin-top: 10px;
    margin-bottom: 10px;
    /* codigo do primeiro exercicio */
    /* font-size: 20px;
    width: 500px; */ 
}

.smallInput{
    width: 100px;
}


#finalGrade{
    font-size: 30px;
}

.coolBTN{
background: #014b68;
color: white;
border-width: 2px;
border-style: outset;
border-color: #014b68;
height: 50px;
width: 100px;
font: bold 15px arial, sans-serif;


}