main{
    display:flex;
}

main section{
    display: flex;
    padding: 5px;
    margin: 5px;
    background-color: #014b682a;
    width: 200px;
    text-align: center;

}

main h1{
    color: darkred;
}

main p{
    font-weight: bold;
}

.twoFirstLetters{
    background-color: darkred;
    color: white;
    width: 50px;
    height: 50PX;
    margin: 10px;
    
}

.fail{
    background-color: rgba(255, 0, 0, 0.384);
}

nav{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    
}

details{
    grid-area:aside;
    display:flex;
    flex-direction: column;
    padding:10px;
    margin: 5px 5px 5px 0px;
    border: 2px solid #014b68; 
    font-weight: bold;   
}