body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-areas:"header header header" "nav main aside" "footer footer footer";
  grid-template-columns: 20% 60% 20%;
  grid-gap: 5px;
}

header, footer, nav{
  display: flex;
  background-color: #014b68;
  color: white;
  
}

header{
  grid-area: header;
  align-items: center;
  padding:15px;
}

#studentImg{
  width: 200px;
  padding:10px;
  background-color: white;
  border-radius: 50%; 
  border: 2px solid black;
  
}

header section{
  width: 100%;
  text-align: center; 
}

footer{
  grid-area: footer;
  padding:5px;
  padding-left: 100px;
  
}

footer a {
  color: rgb(200, 200, 170);
}

footer a:hover{
  color: white;
}

nav{
  grid-area: nav;
  flex-direction: column;
  padding:10px;
  margin: 5px 5px 5px 0px;
  

}

nav a:link{
  color: white;
  text-decoration: none;
  margin: 10px;
}

nav a:visited{
  color: white;
}

nav a:hover{
  color: rgb(200, 200, 170);
}

main{
  grid-area: main;
  color:#333333;
}

aside{
  grid-area:aside;
  display:flex;
  flex-direction: column;
  padding:10px;
  margin: 5px 5px 5px 0px;
  border: 2px solid #014b68; 
  font-weight: bold;
  
}

aside a:link{                                                                            
  color: #014b68;
  text-decoration: none;
  margin:10px;
}

aside a:visited{
  color:#014b68;
}

aside a:hover{
 color:rgb(200, 200, 170);
}
