header{
  font-size: 25px;
}

table{
  margin-top: 20px;
  width: 100%;
  border: 2px solid gray;
  border-collapse: collapse;  
}

tr, th, td{
  border: 2px solid gray;
  padding: 5px;  
}

th{
  background-color: red;
  color:white;
  text-align: left;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover{
  background-color: #014b68;
  color:white;
}

nav{
  grid-area: nav;
  flex-direction: column;
  background-color: white;
  margin: 0px 5px 5px 0px;
  font-size: 30px;
  text-align: center;
}

nav a:link{
  color: #014b68;
  text-decoration: none;
}

nav a:visited{
  color: #014b68;
}

nav a:hover{
  background-color:#014b68;
  color: white;
}